[Desktop Entry]
Type=Application
Exec=kdeconnectd
X-KDE-StartupNotify=false
X-KDE-autostart-phase=1
X-GNOME-Autostart-enabled=true
NoDisplay=true
Icon=kdeconnect

Name=KDE Connect
