#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=KDE Connect
Exec=bash -c "/usr/lib/kdeconnectd && kdeconnect-cli -l && kdeconnect-indicator"
X-KDE-StartupNotify=false
X-KDE-autostart-phase=1
X-GNOME-Autostart-enabled=true
NoDisplay=true
Icon=kdeconnectkde