home/dot_gitconfig
root/usr/local/bin/executable_git-config
home/dot_config/rclone/rclone.conf
home/private_dot_ssh/allowed_signers
home/private_dot_ssh/authorized_keys
home/private_dot_ssh/private_config
home/private_dot_ssh/identities/github_fri.pub
home/private_dot_ssh/identities/github_personal.pub
home/private_dot_ssh/identities/pve.pub
home/private_dot_ssh/identities/vms.pub
root/etc/ssh/sshd_config
root/etc/sudoers.d/20-virtualhereclient.tmpl
home/run_install-private-packages.sh
