#!/bin/bash

# Enable safe execution flags
set -euo pipefail

{{ if (env "ENCRYPTED") | fromJson -}}
echo {{ (keepassxc "Github FRI SSH").UserName }} > identities/github_fri.pub
echo {{ (keepassxc "Github Personal SSH").UserName }} > identities/github_personal.pub
echo {{ (keepassxc "PVE SSH").UserName }} > identities/pve.pub
echo {{ (keepassxc "VMs SSH").UserName }} > identities/vms.pub
{{ end -}}
