[General]
clientVersion=3.13.3
confirmExternalStorage=true
crashReporter=true
isVfsEnabled=false
launchOnSystemStartup=true
monoIcons=false
moveToTrash=false
newBigFolderSizeLimit=500
notifyExistingFoldersOverLimit=false
optionalServerNotifications=true
showCallNotifications=true
stopSyncingExistingFoldersOverLimit=false
useNewBigFolderSizeLimit=true

[Accounts]
0\Folders\1\ignoreHiddenFiles=false
0\Folders\1\journalPath=.sync_cae4f91648db.db
0\Folders\1\localPath={{ .chezmoi.homeDir }}/Documents/
0\Folders\1\paused=false
0\Folders\1\targetPath=/private/Documents
0\Folders\1\version=2
0\Folders\1\virtualFilesMode=off
0\Folders\2\ignoreHiddenFiles=false
0\Folders\2\journalPath=.sync_8d4814a7e73b.db
0\Folders\2\localPath={{ .chezmoi.homeDir }}/Downloads/
0\Folders\2\paused=false
0\Folders\2\targetPath=/private/Downloads
0\Folders\2\version=2
0\Folders\2\virtualFilesMode=off
0\authType=webflow
0\dav_user={{ (keepassxc "Nextcloud personal").UserName }}
0\displayName={{ (keepassxc "Nextcloud personal").UserName }}
0\serverColor=@Variant(\0\0\0\x43\x1\xff\xff\0\0gg\x9e\x9e\0\0)
0\serverTextColor=@Variant(\0\0\0\x43\x1\xff\xff\xff\xff\xff\xff\xff\xff\0\0)
0\serverVersion=29.0.0.19
0\url={{ (keepassxc "Nextcloud personal").URL }}
0\user=@Invalid()
0\version=1
0\webflow_user={{ (keepassxc "Nextcloud personal").UserName }}
version=2

[Settings]
geometry=@ByteArray(\x1\xd9\xd0\xcb\0\x3\0\0\0\0\x3\xe9\0\0\x4\x66\0\0\x6\x3\0\0\x6^\0\0\x3\xea\0\0\x4\x82\0\0\x6\x1\0\0\x6\\\0\0\0\0\0\0\0\0\n\0\0\0\x3\xea\0\0\x4\x82\0\0\x6\x1\0\0\x6\\)
