[Unit]
Description=Run dead-mens-switch.service every week

[Timer]
OnCalendar=weekly
Persistent=true
OnBootSec=1m30s

[Install]
WantedBy=timers.target
