[Unit]
Description=GPU Driver Setup
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "mkdir -p /run/opengl-driver/lib/"
ExecStart=/bin/bash -c "ln -sf {{ .chezmoi.homeDir }}/.local/share/devbox/global/default/.devbox/nix/profile/default/lib/* /run/opengl-driver/lib"
ExecStart=/bin/bash -c "mkdir -p /run/opengl-driver/share/vulkan/"
ExecStart=/bin/bash -c "ln -sf {{ .chezmoi.homeDir }}/.local/share/devbox/global/default/.devbox/nix/profile/default/share/vulkan/* /run/opengl-driver/share/vulkan"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target