[Unit]
Description=GPU Driver Setup
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'rm -rf /run/opengl-driver/lib/*'
ExecStart=/bin/bash -c 'mkdir -p /run/opengl-driver/lib/'
ExecStart=/bin/bash -c 'ln -sf $/home/{{ env "PRIMARY_USER" }}/.local/share/devbox/global/default/.devbox/nix/profile/default/lib/* /run/opengl-driver/lib'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target